@import 'fonts';
@import 'bootstrap/bootstrap';

.logo{
  width: 150px;
}
body{
  background: url("../../img/wireframe.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-top: 50px;
}
h1{
  font-size: 800% !important;
  color: red;
}
h2{
  font-size: 350% !important;
  color: white;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
#boroughs{
  margin-top: 100px;
}
#home{
  margin-top: 100px;
  font-family: 'sophia';
}
#roots, #boroughs, #society, #humanity{
  margin-top: 300px;
  font-family: 'sophia';
  h2{
    font-size: 800% !important;
    color: black;
  }
}
#boroughs, #humanity{
  h2, p{
    color: white !important;
  }
}
#society{
  margin-top: 450px !important;
}
