@import 'fonts';
@import 'bootstrap/bootstrap';

html {
  height: 100%
}
body.tedxunc-body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 800% !important;
  color: red;
}

#home{
  h2{
    color: rgb(255, 100, 0);
  }
}

.anchor{
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: 'sophia';
  h2{
    font-size: 800% !important;
  }
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

h2, p{
  color: white;
  font-size: 20px;
}

#roots{
  background-color: #333;
}

#boroughs{
  background-color: #555;
}

#society{
  background-color: #777;
}

#humanity{
  background-color: #999;
}

#speakers{
  background-color: #942;
}

#committee{
  background-color: #492;
}

#faq{
  background-color: #249;
}

video#backgroundVideo, .overlay{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  //background: url(polina.jpg) no-repeat;
  background-size: cover; 
}

video#backgroundVideo{
  -ms-transform: translateX(-50%) translateY(-75%);
  -moz-transform: translateX(-50%) translateY(-75%);
  -webkit-transform: translateX(-50%) translateY(-75%);
  transform: translateX(-50%) translateY(-75%);
}

.arrow{
  position: fixed;
  top: 80%;
  left: 50%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-100%);
  -moz-transform: translateX(-50%) translateY(-100%);
  -webkit-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
}

@media screen and (max-device-width: 800px) {
    html {
         background: url(logo.png) #000 no-repeat center center fixed;
    }
    #backgroundVideo {
        display: none;
    }
}

.nav, .navbar{
  background: black;
  a{
    color: white;
    font-family: 'josefin slab';
    font-size: 150%;
  }
  a:hover{
    background-color: black !important;
    color: #999;
  }
}
