#boroughs.anchor.white-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h1.text-center.
                    BOROUGHS
                p.text-center.
                    Then, we will transition to what home means in the local community.  This will include asking and answering questions regarding urban planning and community empowerment.  
                .row
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/AlexWashburn.png').headshot.washburn-img
                        .modal.washburn-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        ALEX WASHBURN
                                .modal-body
                                    p.
                                        Alexandros Washburn is a city designer and community builder.  He is an architect who served as Chief Urban Designer for New York City in the Department of City Planning.  When his neighborhood of Red Hook, Brooklyn was flooded by Hurricane Sandy, he became a Professor the Stevens Institute of Technology to come up with ways to make cities resilient.  He is now hyper-local, leading a community plan for the future of Red Hook out of the ground floor of his house.  
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/MarthaIsaacs.png').headshot.isaacs-img
                        .modal.isaacs-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        MARTHA ISAACS
                                .modal-body
                                    p.
                                        Martha Isaacs will graduate in May 2017 with a B.A. in the Geography of Human Activity and minors in Philosophy and City and Regional Planning. Particularly interested in participatory planning to increase social capital in neighborhoods, especially through accessible transportation, she has worked for the New York City Anti-Violence Project, The Glass-House Community Design in London, and for Nelson\Nygaard, a transportation planning consulting firm in San Francisco. She is currently teaching a seminar course on how the built environment affects place-based identity and concepts of home, incorporating her interests in photography, filmmaking, and music into experiential learning methods in urban planning.
                    .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-12
                        img(src='../img/headshots/CEF.png').headshot.cef-img
                        .modal.cef-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        MAGGIE WEST &amp; JON YOUNG
                                .modal-body
                                    p.
                                        Maggie West ‘10 and Jon Young ‘10 were part of the team of students and shelter residents who founded the Community Empowerment Fund (CEF) in 2009 in Chapel Hill and currently serve as Co-Directors with Janet Xiao. CEF is a student-powered and relationship-centered non-profit, focused on enabling and sustaining transitions out of homelessness and poverty. CEF Members and volunteer Advocates work together to gain stable housing and income, grow savings, and build financial stability.