#boroughs.anchor.white-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h2.text-center.
                    02.
                h1.text-center.
                    BOROUGHS
                p.text-center.
                    Then, we will transition to what home means in the local community.  This will include asking and answering questions with regards to urban planning and community empowerment.  
