#contact.anchor.black-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h1.text-center.
                    CONTACT
                p.text-center.
                    Email us at info@tedxunc.com or check us out on social media!
                .social-media.text-center
                    a.btn.btn-social-icon.btn-facebook(href='https://www.facebook.com/tedxunc' target='blank')
                        span.fa.fa-5x.fa-facebook
                    a.btn.btn-social-icon.btn-youtube(href='https://www.youtube.com/user/TEDxUNC' target='blank')
                        span.fa.fa-5x.fa-youtube
                    a.btn.btn-social-icon.btn-twitter(href='https://twitter.com/TEDxUNC' target='blank')
                        span.fa.fa-5x.fa-twitter
                    a.btn.btn-social-icon.btn-instagram(href='https://www.instagram.com/tedxunc' target='blank')
                        span.fa.fa-5x.fa-instagram
                video(playsinline autoplay="autoplay" muted loop id="boomerangVideo")
                    source(src='../img/boomerang.mp4' type="video/mp4")
                    source(src='../img/boomerang.webm' type="video/webm")
                // super hacky fix to autoplay on chrome
                script document.getElementById('boomerangVideo').addEventListener('canplay', function() { this.play(); } );