#humanity.anchor.white-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h1.text-center.
                    HUMANITY
                p.text-center.    
                    Finally, we will close out by talking about home on a global scale in terms of humanity and the world. We will examine hot button issues that affect us all in one way or another.
                .row
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/JialingJiang.png').headshot.jiang-img
                        .modal.jiang-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        JIALING JIANG
                                .modal-body
                                    p.
                                        Jialing Jiang is a senior, studying Economics and Philosophy, at UNC-Chapel Hill. At UNC, she founded the UNC International Ambassadors program and the first Chinese Cultural Month on campus. As part of the Schwarzman Scholars program, she will continue her studies post-graduation at China’s prestigious Tsinghua University to learn about China’s expanding role in the world. When she’s not coaching nonprofits on social entrepreneurship, she enjoys debating, dancing, and talking about penguins.
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/BrianHogan.png').headshot.hogan-img
                        .modal.hogan-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        BRIAN HOGAN
                                .modal-body
                                    p.
                                        Dr. Brian Hogan is a Professor of Chemistry and the Director of the Carolina Covenant and Achieve Scholars Program.  His research focuses on mentorship, college access and affordability, and is internationally recognized for his inclusive teaching methodologies.  This seven- time teaching award winner is a member of the Order of the Golden Fleece, the University’s highest honor for academic leadership, and is deeply dedicated in community engaged scholarship. 
