#humanity.anchor
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.content
                h2.text-center.
                    04.
                h1.text-center.
                    HUMANITY
                .row
                    .col-lg-6.col-lg.col-md-6.col-md.content
                        p.text-center.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget dictum mauris. Aenean nibh odio, aliquam quis ornare et, sagittis sed ligula. Curabitur sit amet fringilla est, at sollicitudin dui. Cras facilisis euismod neque, ut finibus massa consectetur nec. Nullam accumsan sapien tellus, at placerat odio iaculis ac. Nunc euismod tellus nec eros mollis dignissim. Ut viverra viverra tempor. Mauris mollis neque sit amet velit interdum, eget consectetur nulla facilisis. Aliquam at metus at metus posuere hendrerit. In consequat nibh vitae ligula varius, at ullamcorper ante vehicula. Ut ullamcorper laoreet lectus, quis vehicula dui porttitor ut. Fusce aliquet eros nec ex ullamcorper sagittis. Mauris lobortis lacus est, non laoreet nibh facilisis in. Nunc non sem auctor, tincidunt dui a, viverra diam. Quisque at ipsum eget justo venenatis elementum.
                    .col-lg-6.col-lg.col-md-6.col-md.content
                        p.text-center.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget dictum mauris. Aenean nibh odio, aliquam quis ornare et, sagittis sed ligula. Curabitur sit amet fringilla est, at sollicitudin dui. Cras facilisis euismod neque, ut finibus massa consectetur nec. Nullam accumsan sapien tellus, at placerat odio iaculis ac. Nunc euismod tellus nec eros mollis dignissim. Ut viverra viverra tempor. Mauris mollis neque sit amet velit interdum, eget consectetur nulla facilisis. Aliquam at metus at metus posuere hendrerit. In consequat nibh vitae ligula varius, at ullamcorper ante vehicula. Ut ullamcorper laoreet lectus, quis vehicula dui porttitor ut. Fusce aliquet eros nec ex ullamcorper sagittis. Mauris lobortis lacus est, non laoreet nibh facilisis in. Nunc non sem auctor, tincidunt dui a, viverra diam. Quisque at ipsum eget justo venenatis elementum.
                    