#humanity.anchor.white-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h2.text-center.
                    04.
                h1.text-center.
                    HUMANITY
                p.text-center.    
                    Finally, we will close out by talking about home on a global scale in terms of humanity and the world.  We will examine hot button issues that are affect us all in one way or another.
   