#roots.anchor.black-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h2.text-center.
                    01.
                h1.text-center.
                    ROOTS
                p.text-center.
                    To begin, we will explore home with respect to the individual by examining topics such as gender identity and the refugee crisis in Syria.  