#roots.anchor.black-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h2.text-center.
                    01.
                h1.text-center.
                    ROOTS
                .row
                    .col-lg-6.col-lg.col-md-6.col-md.content
                        p.text-center.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget dictum mauris. Aenean nibh odio, aliquam quis ornare et, sagittis sed ligula. Curabitur sit amet fringilla est, at sollicitudin dui. Cras facilisis euismod neque, ut finibus massa consectetur nec. 
                    .col-lg-6.col-lg.col-md-6.col-md.content
                        p.text-center.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget dictum mauris. Aenean nibh odio, aliquam quis ornare et, sagittis sed ligula. Curabitur sit amet fringilla est, at sollicitudin dui. Cras facilisis euismod neque, ut finibus massa consectetur nec. 