#roots.anchor.black-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h1.text-center.
                    ROOTS
                p.text-center.
                    To begin, we will explore home with respect to the individual by examining topics such as gender identity and the refugee crisis in Syria.  
                .row
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/BakedGoods.png').headshot.goods-img
                        .modal.goods-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        BAKED GOODS
                                .modal-body
                                    p.
                                        Baked Goods is a 5-piece band originating right outside Gotham in Merrick, New York. Their combination of jazz, funk, and rock and roll is a recipe for a unique sound that Baked Goods delivers in each song. Baked Goods is the brainchild of Asa Daniels (lead singer &amp; acoustic guitar), the chief songwriter, and Dan Janis (saxophone), who helps arrange the music. They have a new EP, A Vivid Hallucination, coming out this spring and their new single, "Uptight", is out on Spotify now!
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/PaulCuadros.png').headshot.cuadros-img
                        .modal.cuadros-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        PAUL CUADROS
                                .modal-body
                                    p.
                                        Paul Cuadros is an associate professor in the School of Media and Journalism at the University of North Carolina at Chapel Hill. He is also the chair of NC Scholars’ Latino Initiative, a college mentoring and preparatory program based at UNC-Chapel Hill and six local high schools. Dr. Cuadros is an award-winning investigative reporting and author whose work has appeared in The New York Times, The Huffington Post, Time magazine, and other national publications. He continues to write about immigration issues and is currently working on a feature film adaptation of his book, A Home on the Field, How One Championship Team Inspires Hope for the Revival of Small Town America. 
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/SamPeterson.png').headshot.peterson-img
                        .modal.peterson-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        SAM PETERSON
                                .modal-body
                                    p.
                                        Samuel Peterson is the author of "TRUNKY (transgender junky): A Memoir of Institutionalization &amp; Southern Hospitality," on Transgress Press. He received his BA in Communication Studies from UNC-CH in 2013. Peterson is known for his love of octopuses and cats. His one-person show, "F to M to Octopus," created with UNC faculty and students received several awards, is seeking a venue for 2018.
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/LinaSergieAttar.png').headshot.attar-img
                        .modal.attar-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        LINA SERGIE ATTAR
                                .modal-body
                                    p.
                                        Lina Sergie Attar is a Syrian American writer and architect from Aleppo. She is the co-founder and CEO of Karam Foundation - a nonprofit that's building a better future for Syria. She often travels to the Syrian border in southern Turkey to work with Syrian refugees. She was named one of GOOD magazine’s GOOD100 in 2016. Her writing has been published in the NYT, Chicago Tribune, Foreign Policy, Politico, and BBC and has she spoken on CNN, NBC News, BBC News, Huffington Post, and NPR. Twitter handle: @amalhanano
