#society.anchor.black-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h2.text-center.
                    03.
                h1.text-center.
                    SOCIETY
                p.text-center.      
                    Afterwards, we will jump into home at a national and societal level, addressing topics regarding immigration and digital culture.  