#society.anchor.black-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h1.text-center.
                    SOCIETY
                p.text-center.
                    Afterwards, we will jump into home at a national and societal level, addressing topics regarding immigration and digital culture.  
                .row
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/BhangraElite.png').headshot.bhangra-img
                        .modal.bhangra-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        BHANGRA ELITE
                                .modal-body
                                    p.
                                        UNC Bhangra Elite is a competitive Indian folk dance team founded in 1996. Through the means of high energy, traditional dance, they strive to promote and educate the UNC community about Punjabi culture. They aim to represent UNC as a nationally competitive dance team through dance competitions in the fall and spring. 
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/MaxStossel.png').headshot.stossel-img
                        .modal.stossel-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        MAX STOSSEL
                                .modal-body
                                    p.
                                        Max Stossel is an award winning filmmaker + poet with a unique style of storytelling. His work consistently goes viral, has been featured by the majority of major digital publications, by Lincoln Center, and has been written about in 12 languages. Before entering the creative world, Max spent 8 years creating social media strategies for fortune 500 brands and building a social network. The merging of these fields allows him to provide a fascinating perspective on modern culture and how technology is impacting humanity. 
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/CeciliaPolanco.png').headshot.polanco-img
                        .modal.polanco-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        CECILIA POLANCO
                                .modal-body
                                    p.
                                        Cecilia is a 2016 graduate of UNC, where she received a degree in Global Studies. The summer of her junior year she launched the food truck and catering company, So Good Pupusas and started catering at UNC. She works with members of her family and UNC undergraduates to create a scholarship fund for undocumented students pursuing their undergraduate degrees. So Good Pupusas, and their non-profit partner Pupusas for Education, aims to make higher education access more equitable for undocumented students through last dollar scholarships, one pupusa at a time. She currently works on So Good Pupusas and Pupusas for Education full time.
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/KenNwadike.png').headshot.nwadike-img
                        .modal.nwadike-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        KEN E. NWADIKE JR
                                .modal-body
                                    p.
                                        Ken E. Nwadike Jr is a peace activist, motivational speaker, and video journalist known as the Free Hugs Guy online. Nwadike Jr is the founder of the Free Hugs Project, which produces motivational videos to spread love, inspire change, and raise awareness of social issues. His 'Free Hugs' videos have reached hundreds of millions of views on Facebook and YouTube.