#speakers.anchor.white-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h1.text-center.
                    SPEAKERS
                p.text-center.
                    Below you will find information on our emcees and all of our featured speakers. Click on a speaker to learn more about them!
                h1.text-center.
                    EMCEES
                .row
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/JedSimmons.png').headshot.simmons-img
                        .modal.simmons-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        JED SIMMONS
                                .modal-body
                                    p.
                                        Jed Simmons has more than 30 years of experience in media, entertainment and consumer product businesses. He is formerly the Global Head of News Content Partnerships for YouTube where his team managed partners including ABC News, Vice News, EuroNews,Wall Street Journal, Storyful, BBC World News, BuzzFeed, and many others. He was also the COO of the Sundance Group, Hanna-Barbera, and the Co-founder of Next New Networks. Jed is an Entrepreneur-In-Residence and Professor of the Practice, Minor in Entrepreneurship, at The University of North Carolina at Chapel Hill.
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/BernardBell.png').headshot.bell-img
                        .modal.bell-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        BERNARD BELL
                                .modal-body
                                    p.
                                        Bernard Bell is currently Managing Director at Urban Media Solutions (UMS), a media consulting firm headquartered in Washington DC. He is also an Entrepreneur-In-Residence and Professor of the Practice, Minor in Entrepreneurship, at The University of North Carolina at Chapel Hill. Bernard is formerly the Senior Vice President, Office of the President, for TV One, the lifestyle and entertainment cable network. 
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/PerryCarter.png').headshot.carter-img
                        .modal.carter-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        PERRY CARTER
                                .modal-body
                                    p.
                                        Perry Carter is a junior at UNC double majoring in Communications and English. She's a member of UNC's premier improv & sketch group, CHiPs, and co-anchors a satirical news show called On the Hill with Student TV. In her free time, Perry enjoys going to theatre on campus and googling shark pictures. Enjoy TEDxUNC!
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        img(src='../img/headshots/AnnaHughes.png').headshot.hughes-img
                        .modal.hughes-modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h3.
                                        ANNA HUGHES
                                .modal-body
                                    p.
                                        Anna Hughes is a senior at Carolina, majoring in Communication and Dramatic Art. She is absolutely stoked to co-emcee for TEDxUNC this year! Anna loves her family, friends, and screaming.
