#sponsors.anchor.white-slide
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.content
                h1.text-center.
                    SPONSORS
                p.text-center.
                    TEDxUNC is only possible thanks to the support of our wonderful sponsors
                img(alt='innovate', src='../img/InnovateCarolina-platinum.png').platinum
                img(alt='innovate', src='../img/RENCI-gold.png').gold  
                img(alt='parents', src='../img/ParentsCouncil-gold.png').gold