doctype html
html
  head
    title=TEDxUNC

    // meta
    meta(property='og:title', content='TEDxUNC Spring 2017')
    meta(property='og:url', content='https://tedxunc.com')
    meta(property='og:site_name', content='TEDxUNC 2017')

    include ./shared/_meta.pug
    link(rel='shortcut icon', type='image/ico', href='/img/Profile.png')
    link(rel='stylesheet', href='css/index.css')
    script(type='text/javascript', src='js/main.js')
    script $(window).load(init);

  body.tedxunc-body

    include ./shared/_navbar.pug
    include ./homepage/_home.pug
    include ./homepage/_roots.pug
    include ./homepage/_boroughs.pug
    include ./homepage/_society.pug
    include ./homepage/_humanity.pug
     
