doctype html
html
  head
    title=TEDxUNC

    meta(property='og:title', content='TEDxUNC Spring 2017')
    meta(property='og:url', content='https://tedxunc.com')
    meta(property='og:site_name', content='TEDxUNC 2017')

    include ./shared/_meta.pug
    link(rel='shortcut icon', type='image/ico', href='../img/logo.png')
    link(rel='stylesheet', href='css/index.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    //script $(window).load(init);

  body.tedxunc-body

    include ./shared/_navbar.pug
    include ./homepage/_home.pug
    include ./homepage/_roots.pug
    include ./homepage/_boroughs.pug
    include ./homepage/_society.pug
    include ./homepage/_humanity.pug
     
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
    script(src='js/main.js')
    script(src='js/_parallax.js')