doctype html
html
  head
    title='TEDxUNC'
    
    meta(property='og:title', content='TEDxUNC Spring 2017')
    meta(property='og:url', content='https://tedxunc.com')
    meta(property='og:site_name', content='TEDxUNC 2017')
    meta(property='og:image', content='http://i.imgur.com/VyDp0th.jpg')
    meta(property="og:description" content="TEDxUNC is an independently organized TED event that is held annually at UNC-Chapel Hill.  This year’s theme, \"Home\" will explore what home means to us at a personal, communal, societal, and global level.")

    include ./shared/_meta.pug
    link(rel='shortcut icon', type='image/ico', href='../img/favicon.png')
    link(rel="image_src" href="../img/meta_overlay.png")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/index.css')

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/ScrollToPlugin.min.js" defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js" defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js" defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js" defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js" defer)

    script(src='js/main.js' defer)
    script(src='js/parallax.js' defer)
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-4_BJmPIhvSoehQvaMgFQHitfce6I_60&callback=initMap" defer)

  body.tedxunc-body

    include ./shared/_navbar.pug
    include ./homepage/_home.pug
    include ./homepage/_speakers.pug
    include ./homepage/_roots.pug
    include ./homepage/_boroughs.pug
    include ./homepage/_society.pug
    include ./homepage/_humanity.pug
    include ./homepage/_faq.pug
    include ./homepage/_sponsors.pug
    include ./homepage/_contact.pug