#navbar
  .container
    .row
      nav.navbar.navbar-default
        ul.nav.navbar-nav
          li.active About
          li Speakers
          li FAQ
          li Contact
        //- ul.navi.relative
        //-   li: a.subtle-link(class="extra" href='/#about') About
        //-   li: a.subtle-link(href='') Speakers
        //-   li: a.subtle-link(href='') FAQ
        //-   li: a.subtle-link(href='') Contact