#navbar
  .container
    .row
      nav.navbar.navbar-default.navbar-fixed-top
        ul.nav.nav-justified
          li.active: a(href='') About
          li: a(href='') Speakers
          li: a(href=''): img(alt='hi', class='logo', src='../img/logo.png')
          li: a(href='') FAQ
          li: a(href='') Contact
        //- ul.navi.relative
        //-   li: a.subtle-link(class="extra" href='/#about') About
        //-   li: a.subtle-link(href='') Speakers
        //-   li: a.subtle-link(href='') FAQ
        //-   li: a.subtle-link(href='') Contact