#navbar
  .container
    .row
      nav.navbar.navbar-default.navbar-fixed-top
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.content    
          ul.nav.nav-justified
            li: a(id="navHome" href='#home').selected: strong HOME
            li: a(id="navSpeakers" href='#speakers'): strong SPEAKERS
            li: a(id="navFaq" href='#faq'): strong FAQ
            li: a(id="navSponsors" href='#sponsors'): strong SPONSORS
            li: a(id="navContact" href='#contact'): strong CONTACT