#navbar
  .container
    .row
      nav.navbar.navbar-default.navbar-fixed-top
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.content    
          ul.nav.nav-justified
            li.active: a(href=''): strong about
            li: a(href=''): strong speakers
            //li: a(href=''): img(alt='hi', class='logo', src='../img/logo.png')
            li: a(href=''): strong faq
            li: a(href=''): strong contact